main {
    display: flex;
    gap: 8px;
    padding: 60px 16px 0 16px !important;
}
.boxLessons {
    flex: 0.4;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.boxLessons .listLessons {
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style: none;
    width: 100%;
    height: 60vh;
    position: relative;
    overflow-y: auto;
    background-color: rgb(247, 245, 245);
    border: 2px solid #8fabbdcb;
    border-radius: 7px;
}
.listLessons .lessonsName {
    font-size: 20px;
    font-weight: 700;
    padding: 12px;
    position: absolute;
    background-color: #1e2a4a;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 5;
    color: white;
}
.listLessons .lessons {
    align-items: center;
    list-style: none;
    font-size: 16px;
    font-weight: 500;
    padding: 52px 0;
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 3;
    gap: 3px;
}
.listLessons .lessons li {
    width: 95%;
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 12px;
    pointer-events: none;
}
.listLessons .lessons li span {
    width: 21px;
    height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(224, 224, 224);
    color: #1e2a4a;
}
.listLessons .lessons li.finish {
    pointer-events: all;
    cursor: pointer;
}
.listLessons .lessons li.finish span {
    background-color: rgb(14, 195, 14);
    color: white;
}
.listLessons .lessons li.finish:hover {
    background-color: #f2e8d9;
    color: #c07a0a;
    border-radius: 8px;
    border-left: 3.5px solid #f5a623;
    cursor: pointer;
    pointer-events: all;
}
.listLessons .lessons li.target {
    background-color: #f2e8d9;
    color: #c07a0a;
    border-radius: 8px;
    border-left: 3.5px solid #f5a623;
    cursor: pointer;
    pointer-events: all;
}
.listLessons .lessons li.target span {
    background-color: #ffa81b;
    color: white;
}
a {
    text-decoration: none;
}
.prev {
    display: flex;
    gap: 5px;
    align-items: center;
    text-decoration: none;
    color: #243b53;
    font-size: 17px;
    width: fit-content;
    transition: width 0.2s ease;
}
.prev:hover {
    color: #db7705;
    width: 90px;
    justify-content: space-between;
}
.boxDetailLesson {
    flex: 1;
    padding: 20px 16px;
    border-inline: 2px solid #8fabbdcb;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
}
.titleLesson {
    font-size: clamp(24px, 4vw, 32px);
    font-weight: 700;
    color: var(--color-title);
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.244);
}
.boxDetailLesson .wrapLessonContent {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.boxDetailLesson .wrapLessonContent .blockTarget {
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: #fff9f1;
    padding: 12px 20px;
    border-left: 3px solid #ff6600;
    border-radius: 3px;
}
.boxDetailLesson .wrapLessonContent .blockTarget .titleTarget {
    color: #f97316;
    font-weight: 700;
    font-size: 17px;
}
.boxDetailLesson .wrapLessonContent .blockTarget .contentTarget {
    font-size: 14.5px;
    font-weight: 500;
    color: #92400e;
}
.boxDetailLesson .wrapLessonContent .blockWhy {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.boxDetailLesson .wrapLessonContent .title {
    padding: 0 20px;
    font-size: 1.2rem;
    font-weight: 600;
    position: relative;
    color: var(--color-title);
}
.boxDetailLesson .wrapLessonContent .title::after {
    content: "";
    position: absolute;
    left: 4px;
    top: 50%;
    transform: translateY(-30%);
    width: 7px;
    height: 7px;
    background-color: #ff8800;
    border-radius: 50%;
}
.boxDetailLesson .wrapLessonContent .content {
    font-size: 15px;
    font-weight: 500;
}
.boxDetailLesson .wrapLessonContent .blockTool {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.boxDetailLesson .wrapLessonContent .blockTool .blockCard {
    display: flex;
    justify-content: space-around;
    gap: 25px;
}
.boxDetailLesson .wrapLessonContent .blockTool .blockCard .card {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px;
    border-radius: 12px;
    background-color: rgb(255, 255, 255);
    border: 2px solid #8fabbdcb;
    width: calc((100% - 25px * 2) / 3);
}
.boxDetailLesson .wrapLessonContent .blockTool .blockCard .card .cardIcon {
    width: 38px;
    height: 36px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ddeeff;
}
.boxDetailLesson .wrapLessonContent .blockTool .blockCard .card .cardTitle {
    font-size: 16px;
    font-weight: 600;
    color: var(--color-title);
}
.boxDetailLesson .wrapLessonContent .blockTool .blockCard .card .cardContent {
    font-size: 14px;
    font-weight: 500;
    height: 70px;
}
.boxDetailLesson .wrapLessonContent .blockTool .blockCard .card .cardContent span {
    font-size: 12.5px;
    font-weight: 600;
    opacity: 0.8;
}
.boxDetailLesson .wrapLessonContent .blockTool .blockCard .card .cardTool {
    background-color: #fff1e1;
    width: 60px;
    height: auto;
    padding: 4px 0;
    border-radius: 20px;
    font-size: 12.5px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #cb6c00;
}
.boxDetailLesson .wrapLessonContent .blockWorkflow {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.boxDetailLesson .wrapLessonContent .blockWorkflow .blockFlow {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.boxDetailLesson .wrapLessonContent .blockWorkflow .blockFlow .flow {
    display: flex;
    gap: 10px;
    height: 100px;
}
.boxDetailLesson .wrapLessonContent .blockWorkflow .blockFlow .flow .flowNumber {
    width: 32px;
    height: 100%;
    position: relative;
}
.boxDetailLesson .wrapLessonContent .blockWorkflow .blockFlow .flow .flowNumber .number {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 2px solid #cb6c00;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffeac9;
    font-size: 20px;
    font-weight: 600;
    color: #c77b02;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}
.boxDetailLesson .wrapLessonContent .blockWorkflow .blockFlow .flow .flowNumber .line {
    width: 2px;
    background-color: #cb6c00;
    height: 90%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    border-radius: 15px;
}
.boxDetailLesson .wrapLessonContent .blockWorkflow .blockFlow .flow .flowContent {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.boxDetailLesson .wrapLessonContent .blockWorkflow .blockFlow .flow .flowContent .contentTarget {
    font-size: 16px;
    font-weight: 600;
}
.boxDetailLesson .wrapLessonContent .blockWorkflow .blockFlow .flow .flowContent .contentTarget i {
    font-size: 12px;
}
.boxDetailLesson .wrapLessonContent .blockWorkflow .blockFlow .flow .flowContent .contentNote {
    font-size: 14px;
    font-weight: 500;
    padding-left: 8px;
    color: #282e35;
}
.boxDetailLesson .wrapLessonContent .blockWorkflow .blockFlow .flow.flowChange {
    height: auto;
}
.boxDetailLesson .wrapLessonContent .blockForget {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.boxDetailLesson .wrapLessonContent .blockForget .listForget {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 12px 8px 0 30px;
    font-size: 17px;
}
.boxTool {
    padding: 10px 0;
    flex: 0.5;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.titleWrapName {
    font-size: 16px;
    font-weight: 700;
}
.wrapLessons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(247, 245, 245);
    border: 2px solid #8fabbdcb;
    border-radius: 7px;
    padding: 12px;
    position: relative;
}
.noteIcon {
    position: absolute;
    right: 12px;
    top: 8px;
    font-size: 14px;
    color: #f97316;
    cursor: pointer;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.noteIcon:hover {
    background-color: #fceed7;
}
.wrapLessons .block {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.wrapLessons .blockLessons {
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
    border: 2px solid rgb(167, 167, 167);
    padding: 4px 8px;
    border-radius: 6px;
    background-color: #f1f1f1;
}
.wrapLessons .blockLessons .lessonsIcon {
    padding: 8px;
    border-radius: 6px;
    background-color: #ffe7c6;
}
.wrapLessonSubmit {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(247, 245, 245);
    border: 2px solid #8fabbdcb;
    border-radius: 7px;
    padding: 12px;
}
.wrapLessonSubmit #linkSend i {
    font-size: 12px;
}
.wrapLessonSubmit .blockLessonSubmit {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.wrapLessonSubmit .blockLessonSubmit .noteLessonSubmit {
    font-size: 18px;
}
.wrapLessonSubmit .blockLessonSubmit .noteLessonSubmit span {
    font-size: 15px;
    font-style: italic;
}
.wrapLessonSubmit .blockLessonSubmit .inputLessonSubmit {
    width: 100%;
    border-radius: 8px;
    padding: 8px 12px;
    border: 2px solid rgb(156, 156, 156);
}
.wrapLessonSubmit .blockLessonSubmit .inputLessonSubmit input {
    background-color: transparent;
    border: 0;
    outline: none;
    font-size: 1rem;
    width: 100%;
}
.wrapLessonSubmit .blockLessonSubmit .report {
    padding: 0;
    font-size: 14px;
    color: rgba(255, 30, 30, 0.94);
    font-weight: 500;
    text-align: start;
}
.wrapLessonPoint {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(247, 245, 245);
    border: 2px solid #8fabbdcb;
    border-radius: 7px;
    padding: 12px;
    position: relative;
}
.wrapLessonPoint .blockLessonPoint {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.wrapLessonPoint .blockLessonPoint .itemButton {
    display: flex;
    gap: 15px;
    justify-content: space-around;
}
.wrapLessonPoint .blockLessonPoint .itemButton .deraction {
    padding: 6px 10px;
    cursor: pointer;
    border-radius: 8px;
    background-color: transparent;
    border: 2px solid #243b53;
    color: #243b53;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapLessonPoint .blockLessonPoint .itemButton .deraction:hover {
    background-color: #243b53;
    color: white;
}
.wrapLessonPoint .blockLessonPoint .itemButton .deraction.choosing {
    background-color: #243b53;
    border: 0;
    color: white;
}
.wrapLessonPoint .blockLessonPoint .itemContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
    padding: 16px;
}
.wrapLessonPoint .blockLessonPoint .itemContent .point {
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: relative;
    z-index: 10;
    width: 104px;
    height: 104px;
    transition: All 0.25s ease-in;
}
.wrapLessonPoint .blockLessonPoint .itemContent .point.pointed {
    color: #ff9d2c;
}
.wrapLessonPoint .blockLessonPoint .itemContent .point::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    border-radius: 50%;
    width: 104px;
    height: 104px;
    background-color: white;
    z-index: -1;
}
.wrapLessonPoint .blockLessonPoint .itemContent .point::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -18px;
    border-radius: 50%;
    background: conic-gradient(rgb(235, 235, 235) 100%);
    height: 136px;
    width: 136px;
    z-index: -1;
}
.wrapLessonPoint .blockLessonPoint .itemContent .point.pointed::before {
    background: conic-gradient(#ffac4e 80%, rgb(235, 235, 235) 20%);
}
.wrapLessonPoint .blockLessonPoint .itemContent .point span {
    font-size: 2rem;
    padding-top: 8px;
}
.wrapLessonPoint .blockLessonPoint .itemContent p {
    padding: 8px 16px;
    border-radius: 168px;
    font-size: 14px;
    font-weight: 600;
    background-color: #ffefd7;
    color: #e48d00;
}
.wrapLessonPoint .blockLessonPoint .itemContent .contentParent {
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 10px;
}
.wrapLessonPoint .blockLessonPoint .itemContent .contentParent .contentChild {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.wrapLessonPoint .blockLessonPoint .itemContent .contentParent .contentChild .nameContent {
    font-size: 16px;
    font-weight: 500;
    color: var(--color-title);
}
.wrapLessonPoint .blockLessonPoint .itemContent .contentParent .quantity {
    font-size: 24px;
    font-weight: 700;
    color: #ff9d00;
}
.wrapLessonPoint .blockLessonPoint .itemContent .commentMentor {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
.wrapLessonPoint .blockLessonPoint .itemContent .commentMentor .titleMentor {
    font-size: 17px;
    font-weight: 600;
    color: var(--color-title);
}
.wrapLessonPoint .blockLessonPoint .itemContent .commentMentor .contentComment {
    font-size: 15px;
    font-weight: 500;
    padding: 12px;
    border-radius: 8px;
    border: 2px solid rgb(199, 199, 199);
    background-color: white;
}
.wrapLessonPoint .blockLessonPoint .itemContent .primary .icon {
    font-size: 14px;
}
.wrapLessonPoint .blockLessonPoint .itemContent .primary.notTarget {
    pointer-events: none;
}
.modalInstruct {
    list-style: none;
    display: flex;
    flex-direction: column;
    text-align: start !important;
    gap: 15px;
}
.modalInstruct .titleContent {
    font-size: 18px;
    text-align: center;
    font-weight: 600;
    color: #c77b02;
}
.modalInstruct .content {
    font-size: 16px;
}
.modalInstruct .content span {
    font-weight: 600;
}
