body {
    display: flex;
    justify-content: center;
}
main {
    top: 10px;
    display: flex;
    gap: 40px;
    justify-content: space-between;
    width: 98%;
    height: auto;
}
.containerTool {
    width: 25%;
    padding: 16px;
    border-right: 1px solid rgba(128, 128, 128, 0.478);
}
.containerCourse {
    width: 50%;
    overflow: auto;
}
.containerCourse .titleContainerCourse {
    font-size: clamp(22px, 3vw, 28px);
    font-weight: 700;
}
.containerListCourse {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 35%;
}
.containerListCourse .titleContainerListCourse {
    font-size: clamp(20px, 3vw, 24px);
    font-weight: 700;
}
.containerListCourse .boxListCourse {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.containerListCourse .boxListCourse {
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 58vh;
    width: 100%;
    overflow: auto;
    border: 1px solid rgba(128, 128, 128, 0.478);
    border-radius: 10px;
    padding: 5px;
}
.containerListCourse .boxListCourse .wrapListCourse {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px;
    max-height: 54px;
    background-color: rgb(221, 221, 221);
    transition: max-height 0.5s ease-in-out;
}
.containerListCourse .boxListCourse .wrapListCourse .nameListCourse {
    color: #222222;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding: 16px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
}
.containerListCourse .boxListCourse .wrapListCourse .nameListCourse i {
    transform: rotate(0deg);
    transition: transform 0.3s linear;
}
.containerListCourse .boxListCourse .wrapListCourse .nameListCourse:hover {
    color: var(--accent);
}
.containerListCourse .boxListCourse .wrapListCourse .wrapDetailedListCourse {
    display: flex;
    flex-direction: column;
    gap: 15px;
    cursor: pointer;
    padding: 16px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out 0.15s;
}
.containerListCourse .boxListCourse .wrapListCourse .wrapDetailedListCourse .nameDetailedListCourse {
    font-size: 16px;
    font-weight: 500;
    color: #222222;
}
.containerListCourse .boxListCourse .wrapListCourse .wrapDetailedListCourse .nameDetailedListCourse:hover {
    color: var(--accent);
}
.containerListCourse .boxListCourse .wrapListCourse .wrapDetailedListCourse .nameDetailedListCourse.choose {
    color: var(--accent);
}
.containerListCourse .boxListCourse .wrapListCourse.active {
    max-height: 300px;
}
.containerListCourse .boxListCourse .wrapListCourse.active .nameListCourse {
    color: var(--accent);
}
.containerListCourse .boxListCourse .wrapListCourse.active .nameListCourse i {
    transform: rotate(180deg);
}
.containerListCourse .boxListCourse .wrapListCourse.active .wrapDetailedListCourse {
    opacity: 1;
    visibility: visible;
}
.containerListCourse .boxAcademicPerformance {
    height: 20vh;
}
