.header-section, .course-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0 30px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}
.header-section .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.9rem;
}
.course-section .container  {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 0.9rem;
}
.header-section .course-description {
    font-size: 20px;
    text-align: justify;
}
.header-section .course-properties {
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.properties {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 15px;
}
.properties img {
    width: 25px;
}
.course-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 0;
}
.course-section .main {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.course-section .course {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}
.course .course-chapter {
    display: flex;
    flex-direction: row;
    gap: 10px;
    position: relative;
}
.course-chapter.disabled {
    filter: brightness(0.5) grayscale(1);
}
.hidden {
    display: none !important;
}
.course-chapter .chapter-indicator {
    position: relative;
}
.chapter-indicator .lock.locked {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url(/assets/svg/lock.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 16px;
    background-color: var(--accent);
    filter: grayscale(1);
}
.chapter-indicator .lock {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: url(/assets/svg/lock.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 16px;
    background-color: var(--accent);
    filter: grayscale(1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
}
.lock.active {
    filter: grayscale(0);
    background: var(--accent);
}
.chapter-indicator span {
    border: 1px solid white;
    width: 0px;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.course-chapter:last-child .chapter-indicator span {
    border: 0;
}
.chapter-info-block {
    border: 2px solid white;
    border-radius: 5px;
    background-color: var(--bg-surface);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 15px;
    width: 600px;
}
.chapter-info-block .chapter-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.chapter-info-block .chapter-options {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.misc {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.misc .misc-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.misc-container .misc-info-block {
    border: 2px solid white;
    border-radius: 5px;
    background-color: var(--bg-surface);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 15px;
}