@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}
.hidden {
    display: none !important;
}
:root {
    --font-family: "Inter", sans-serif;
    --accent-code: #e8571a;
    --accent: var(--accent-code);
    --accent-glow: rgba(var(--accent-code), 0.5);
    --bg-default: #f7f7f7;
    --bg-surface: rgb(24, 24, 24);
    --bg-black: rgb(16, 16, 16);
    --default-gray: rgb(59, 59, 59);
    --tertiary-gray: rgb(59, 59, 59);
    --color-title: var(--bg-surface);
    --border-radius-sm: 8px;
    --border-radius: 12px;
    --border-radius-lg: 16px;
    --border-radius-xl: 20px;

    --shadow-default: #0000002b;
    --transition-fast: 0.2s ease;
    --transition-normal: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    --transition-smooth: 0.4s cubic-bezier(0.23, 1, 0.32, 1);

    --font-sm: 14px;
    --font-md: 18px;
    --font-l: 22px;
    --font-xl: 28px;
}

html,
body {
    background-color: var(--bg-default);
    z-index: 1;
    color: #243b53;
    position: relative;
    font-size: 16px;
}
dl, ol, ul {
    padding-left: 0; 
    margin-bottom: 0 !important;
}
 ol, ul{
    padding-left: 0 !important;
 }
header {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: #f1f3f5;
    border-bottom: 1px solid #e0e0e0;
    z-index: 20;
}
header .containerHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 95%;
}
main {
    padding: 60px 0 0 0;
    position: relative;
    z-index: 2;
}
.text-end {
    text-align: end;
}
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-justify {
    text-align: justify;
}
.j-end {
    display: flex;
    justify-content: end;
}
.j-start {
    display: flex;
    justify-content: start;
}
.j-between {
    display: flex;
    justify-content: space-between;
}
.j-around {
    display: flex;
    justify-content: space-around;
}
.j-even {
    display: flex;
    justify-content: space-evenly;
}
.j-center {
    display: flex;
    justify-content: center;
}
.j-left {
    display: flex;
    justify-content: left;
}
.j-right {
    display: flex;
    justify-content: right;
}
.a-center {
    display: flex;
    align-items: center;
}
.a-start {
    display: flex;
    align-items: flex-start;
}
.a-end {
    display: flex;
    align-items: flex-end;
}
.a-unset {
    display: flex;
    align-items: unset;
}
.flex-c {
    display: flex;
    flex-direction: column;
}
.flex-cr {
    display: flex;
    flex-direction: column-reverse;
}
.flex-r {
    display: flex;
    flex-direction: row;
}
.flex-rr {
    display: flex;
    flex-direction: row-reverse;
}
.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}
.flex-nowrap {
    display: flex;
    flex-wrap: nowrap;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
}
.container {
    max-width: 1240px;
    width: 95% !important;
    position: relative;
    padding-right:0 !important; 
    padding-left: 0 !important; 
    margin-right: 0 !important; 
    margin-left: 0 !important;
}
.main-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    gap: 2rem;
}

.nav-menu {
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    list-style: none;
    gap: 35px;
    margin-bottom: 0;
    padding-left: 0;
    height: 100%;
}

.nav-item {
    position: relative;
    height: 100%;
}
#roadmap {
    display: none;
}
.nav-link {
    text-decoration: none;
    transition: all 0.2s ease;
    font-weight: 600;
    color: #243b53;
    font-size: 16px;
    padding: 18.5px 0;
    align-items: center;
    display: flex !important;
    height: 100%;
}
.nav-link:hover,
.nav-link.active {
    border-bottom: 3px solid #ff9c2a;
    color: #ff9c2a;
    
}
.hamburger {
    font-size: 24px;
    cursor: pointer;
}
.overlay {
    background-color: #0000002b;
    width: 0;
    height: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
.overlay.overlayOpen {
    width: 100%;
    height: 100vh;
    opacity: 1;
    z-index: 1000;
}
.mobileMenu {
    position: fixed;
    left: 0;
    transform: translateX(-100%);
    top: 0;
    height: 100vh;
    width: 200px;
    padding: 80px 16px;
    background-color: white;
    list-style: none;
    transition: transform 0.4s ease-in-out;
    z-index: 9000;
}
.mobileMenu .nav-link {
    border-bottom: 0;
    font-size: 19px;
}
.mobileMenu .closeMenu {
    position: absolute;
    right: 20px;
    top: 16px;
    cursor: pointer;
    font-size: 22px;
}
.mobileMenu.showMenu {
    transform: translateX(0);
}
.flex-c {
    flex-direction: column;
}
.flex-r {
    flex-direction: row;
}
button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    transition: 0.3s;
    padding: 8px 16px;
    border-radius: 12px;
    font-size: 15px;
    width: fit-content;
}
.flip {
    rotate: 180deg;
}
.primary {
    background-color: var(--accent-code);
    border-radius: 8px;
    color: #fff;
    border: 0;
    opacity: 1;
}
.primary:active {
    transform: translateY(4px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
.secondary {
    font-size: 16px;
    background-color: transparent;
    cursor: pointer;
    border: 2px solid #e67c04;
    color: #e67c04;
    width: fit-content;
}
.secondary:active {
    transform: translateY(4px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
.tertiary {
    font-size: 16px;
    background-color: transparent;
    cursor: pointer;
    border: 0;
    color: #243b53;
    width: fit-content;
}
.small-info {
    font-size: 13px;
    color: var(--text-color);
    opacity: 0.8;
}
#signIn {
    gap: 20px;
}
#signIn .fa-bell {
    color: #243b53;
    cursor: pointer;
}
#signIn .fa-bell:hover {
    color: var(--accent);
}
#signIn .signInButton {
    display: none;
    position: relative;
    list-style: none;
}
#signIn .signInButton .icon i {
    font-size: 24px;
}
#signIn .signInButton .icon .signInMenu {
    list-style: none;
    position: absolute;
    width: 120px;
    height: auto;
    right: 0;
    padding: 16px 10px;
    z-index: 20;
    background-color: #f1f3f5;
    transform: translateY(-15px);
    pointer-events: none;
    opacity: 0;
    transition:
        transform 0.3s ease-in-out,
        opacity 0.2s ease;
}
#signIn .signInButton .icon .signInMenu .signIn {
    font-size: 16.5px;
    font-weight: 600;
}
#signIn .signInButton .icon .signInMenu .signIn:hover {
    color: #e67c04;
}
#signIn .signInButton .icon.showSignIn .signInMenu {
    transform: translateY(8px);
    pointer-events: auto;
    opacity: 1;
    cursor: pointer;
}
#signIn .signInButton .icon.showSignIn i {
    color: var(--accent);
}
#signIn .logoutButton {
    display: none;
}
#signIn.signIned .logoutButton {
    display: flex;
    flex-direction: column;
    position: relative;
    transition: all ease-in;
    width: fit-content;
    padding-left: 15px;
    border-left: 2px solid rgb(218, 218, 218);
}
#signIn.signIned .logoutButton .wrapSignIn {
    display: flex;
    gap: 12px;
    cursor: pointer;
    align-items: start;
}
#signIn.signIned .logoutButton .wrapSignIn .avatar {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: rgb(0, 119, 255);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    font-weight: 600;
}
#signIn.signIned .logoutButton .wrapSignIn .blockInfor {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
#signIn.signIned .logoutButton .wrapSignIn .blockInfor .name {
    font-size: 0.9rem;
    color: var(--color-title);
}
#signIn.signIned .logoutButton .wrapSignIn .blockInfor .dynamic {
    font-size: 0.8rem;
}
#signIn.signIned .logoutButton .wrapSignIn .iconArrow {
    transform: rotate(0deg);
}
#signIn.signIned .logoutButton.activeButton .wrapSignIn .iconArrow {
    transform: rotate(180deg);
}
#signIn.signIned .logoutButton .logoutMenu {
    position: absolute;
    transform: translateY(0);
    background-color: #f1f3f5;
    list-style: none;
    opacity: 0;
    z-index: -1;
}
#signIn.signIned .logoutButton .logoutMenu .logOut {
    cursor: pointer;
    padding: 14px 40px;
    font-size: 1rem;
}
#signIn.signIned .logoutButton .logoutMenu .logOut:hover {
    background-color: #ededed;
}
#signIn.signIned .logoutButton.activeButton .logoutMenu {
    opacity: 1;
    transform: translateY(48px);
}
footer {
    width: 100%;
}
.footer {
    background-color: #0f172a;
    width: 100%;
    display: flex;
    justify-content: center;
    height: auto;
}
.container.containerFooter {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 32px 0;
}
.container.containerFooter .wrapInformation {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.container.containerFooter .wrapInformation .blockInfor {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: calc((100% - 50px * 2) / 3);
    height: auto;
}
.container.containerFooter .wrapInformation .blockInfor .titleInfor {
    color: white;
    font-size: 18px;
    font-weight: 700;
}
.container.containerFooter .wrapInformation .blockInfor .contentInfors {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.contentInfors .content {
    font-size: 15px;
    font-weight: 400;
    color: rgb(242, 242, 242);
    text-decoration: none;
}
.contentInfors .content.contentHover:hover {
    color: rgb(255, 174, 0);
}
.content a {
    color: white;
}
.content a:hover {
    color: blue;
}
.hamburger {
    display: none;
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: #bababa;
    border-radius: 10px;
    border: 2px solid #f1f1f1;
}
::-webkit-scrollbar-thumb:hover {
    background: #727272;
}
ul{
    margin-bottom:0;
}
@media only screen and (max-width: 700px) {
    .main-nav {
        display: none;
    }
    .container.containerFooter .wrapInformation {
        gap: 30px;
        flex-wrap: wrap;
    }
    .container.containerFooter .wrapInformation .blockInfor {
        width: calc((100% - 30px) / 2);
    }
    .container.containerFooter .wrapInformation .blockInfor .titleInfor {
        font-size: 16px;
    }
    .contentInfors .content {
        font-size: 12px;
    }
}
@media only screen and (max-width: 500px) {
    .hamburger {
        display: flex;
    }
    #signIn .primary {
        display: none;
    }
    #signIn {
        gap: 10px;
    }
    #signIn .signInButton {
        display: flex;
    }
}
